<div id='home_header'>TwitLeads</div>

<a href="/dashboard">Dashboard</a> | <a href="/history">History</a> | <a class="logout_btn" href="/logout">Logout</a>

<br>
<br>
<form id="search_form" action="/search" method="post">
    <div class='form_section'>
        <span>Search a tweet:</span>
        <input id="search_input" type="text" name="search" value=""/>
        <input class='submit_btn' type="submit" value="Submit"/>
    </div>
    <br>
    <div>
        
    </div>
</form>
<br>
<div id="search_result">
</div>

