<% message = typeof message !== "undefined" ? message : "" %>

<!DOCTYPE html>
<html lang="en">
    <head>
      <title>TwitLeads</title>

        <meta charset="utf-8">
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>

        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <style type="text/css">
            body {
                font-family: arial;
            }
            #main_container {
                text-align: center;
                padding: 50px;
            }

            #home_header {
                font-size: 40px;
                font-weight: bold;
            }

            #home_header_description {
                color: gray;
            }

            .form_section {
                margin: 5px;
            }

            #flash_message {
                font-family: arial;
                background-color: #eee;
                border: solid 1px #555;
                border-radius: 5px;
                padding: 5px;
                font-size: 14px;
                margin: 0px 100px 50px 100px;
            }

            #flash_message:empty {
                display: none; 
            }

            #signup_form,
            #login_form {
                width: 250px;
                margin: auto;
            }

            .form_extra_container a {
                font-size: 14px;
                color: gray;
            }

            .submit_btn {
                background-color: steelblue;
                font-size: 16px;
                border: none;
                color: white;
                padding: 5px 10px;
            }

            #welcome_user {
                color: gray;
            }

            .tweet_item {
                display: block;
                white-space: nowrap;
                margin: 20px;
            }

            .tweet_thumbnail {
                float: left;
                margin-right: 10px;
            }

            .tweet_body {
            }

            .tweet_username,
            .tweet_content {
                text-align: left;
            }

            .tweet_username {
                color: gray;
            }

            .history_item_created_at {
                color: gray;
            }
        </style>
    </head>

    <body>
        <div id='main_container'>
            <pre id='flash_message'><%= message %></pre>
            <%-body%>
        </div>
    </body>
    <script type="text/javascript">
        $("#search_form").on("submit", function(event){
            event.preventDefault();
            var query = $("#search_input").val();

            $.ajax({
              url: "/search?q=" + query,
              type: "GET",
              dataType: "json",
              success: function(data) {
                if (data.results) {
                    $("#search_result").empty();
                    for (var i = 0; i < data.results.length; i++) {
                        var result = data.results[i];
                        var el = "<div class='tweet_item'>" + 
                                    "<img class='tweet_thumbnail' src=" + result.thumbnail + "/>" + 
                                    "<div class='tweet_body'>" + 
                                        "<div class='tweet_username'>@" + result.username + "</div>" +
                                        "<div class='tweet_content'>"   + result.text     + "</div>" +
                                    "</div>" +
                                 "</div>";

                        $("#search_result").append(el);
                    }
                }
              },
              error: function(data) {
                alert("search failed");
              }
            });
        });


    </script>

</html>


